.order {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;  
  margin-bottom: 10px;
  box-shadow: 1px 1px #ddd;
  background: white;
  flex-direction: column;
}

.order .description {
  /* width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;   */
}

a.order {
  color: black;
}

.order section {
  padding-left: 15px;
}

.order section:first-child {
  padding-left: 0px;
}

.order div:first-child {
  display: flex;
  flex-direction: row;
}
.ordered-on-label {
  color: darkgrey;
  font-size: 13px;  
}

.name {
  flex-basis: 20%;
}
.orderedon {
  flex-basis: 30%;
}
.status {
  flex-basis: 30%;
}

.status-text {
  border: 1px solid;
  color: white;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  font-size: 12px;
  width: 65px;
  text-align: center;
}

.status-text.returned {
  background: #f2760d;  
}

.status-text.completed {
  background: #0080009e;  
}

.status-text.transit {
  background: #007eff;  
}

.product-pic, .product-pic img {
  height: 32px;
}

.price {
  flex-basis: 10%;
}

@media (max-width: 700px) {
  .order {
    flex-direction: column;
  }

  .order section {
    padding-left: 0px;
  }

  .product-pic, .product-pic img {
    display: none;
  }

  .chevron {
    display: none;
  }
}